@model IEnumerable<TaskModel>
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
</head>
<body>
<div class="text-center">
    <h1 class="display-4">Todo List</h1>
    @*initial commit*@
</div>
<div>
    <table class="table table-bordered">  
    <tr>  
        <th>Title </th>  
        <th>Description </th>  
        <th>Date</th>
        <th>Action</th>
    </tr>  
    @foreach (var t in Model)  
    {  
        <tr>  
            <td>@t.Title</td>  
            <td>@t.Description</td>  
            <td>@t.TaskDateTime.ToShortDateString()</td>
            <td style="text-align: center;">
                <form asp-action="Delete" method="post" asp-route-id="@t.Id" style="display: inline;">
                    <input type="hidden" />
                    <button type="submit" class="btn btn-success">Complete</button>
                </form>
                <form method="get" style="display: inline;">
                    <input type="hidden" />
                    <button type="submit" class="btn btn-success" asp-controller="Home" asp-action="Edit" asp-route-id="@t.Id">Edit</button>
                </form>

            </td>
        </tr>  
    }
</table>
</div>
</body>